.location-search-input,
.suggestion-item,
.suggestion-item-active {
  padding: 8px 10px !important;
  font-size: 20px;
}

.location-search-form {
  padding: 5px 10px;
  background-color: #080069;

  .location-search-form-input {
    flex-grow: 1;
    position: relative;
    display: inherit;

    .location-search-input {
      border: none;
      width: 100%;
      border-right: 1px solid #327da8;
      padding-right: 30px !important;
    }
  }

  .autocomplete-dropdown-container {
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #d1d3d4;
    border-top: none;
  }
  
  .suggestion-item,
  .suggestion-item-active {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .suggestion-item {
    cursor: pointer;
  }
  
  .suggestion-item-active {
    cursor: pointer;
    background-color: #e2e4e6;
  }
}

.close-button,
.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 20px;
}

.close-button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.close-icon {
  display: block;
}
