.location-search-input,
.location-search-form-button,
.suggestion-item,
.suggestion-item-active {
  padding: 2px 7px !important;
}

.location-search-input,
.location-search-form-button {
  border: none;
  line-height: 18px;
}

.location-search-form {
  display: flex;
  padding: 5px 10px;
  background-color: #327da8;
}

.location-search-form-input {
  flex-grow: 1;
  position: relative;
}

.location-search-input {
  width: 100%;
  border-right: 1px solid #327da8;
}

.autocomplete-dropdown-container {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #d1d3d4;
  border-top: none;
}

.suggestion-item,
.suggestion-item-active {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-item {
  cursor: pointer;
}

.suggestion-item-active {
  cursor: pointer;
  background-color: #f0f3f5;
}

.location-search-form-button {
  color: #ffffff;
  background-color: #58abdb;
}

.location-search-form-button:disabled {
  color: #f0f3f5;
  background-color: #d1d3d4;
}
