.location-search-input,
.suggestion-item,
.suggestion-item-active {
  padding: 4px 10px !important;
  font-size: 20px;
}

.location-search-input {
  border: none;
}

.location-search-form {
  display: flex;
  padding: 5px 10px;
  background-color: #040036;
}

.location-search-form-input {
  flex-grow: 1;
  position: relative;
  display: inherit;
}

.location-search-input {
  width: 100%;
  border-right: 1px solid #327da8;
  padding-right: 30px !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 20px;
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #d1d3d4;
  border-top: none;
}

.suggestion-item,
.suggestion-item-active {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-item {
  cursor: pointer;
}

.suggestion-item-active {
  cursor: pointer;
  background-color: #f0f3f5;
}
