.location-search-input,
.suggestion-item,
.suggestion-item-active {
  padding: 12px 14px !important;
  font-size: 20px;
}

.location-search-input {
  border: none;
  width: 100%;
  padding-right: 40px !important;
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #d1d3d4;
  border-top: none;
}

.suggestion-item,
.suggestion-item-active {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-item {
  cursor: pointer;
}

.suggestion-item-active {
  cursor: pointer;
  background-color: #e2e4e6;
}
